{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block top_bar %}
<!-- Top frame for spacing -->
{% endblock %}

{% block content %}
<!-- Center frame with grid and icons -->
<div class="grid-container">
    <div class="grid-item">
        <a href="{{ url_for('calculator') }}" class="icon-link">
            <i class="fas fa-calculator fa-3x"></i>
            <p>Calculator</p>
        </a>
    </div>
    <!-- Additional grid items can be added here -->
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
    <div class="grid-item invisible"></div>
</div>
{% endblock %}
